<!DOCTYPE html>
<html>
<head>
    <script src="vendor/ionic-1.3.3.bundle.min.js"></script>
    <script src="lib/popup.js"></script>
    <link rel="stylesheet" href="lib/popup.css">
    <link rel="stylesheet" href="vendor/ionic-1.3.3.css">
    <link rel="stylesheet" href="vendor/ionicons.min.css">
</head>
<body ng-app="cors" ng-controller="PopupCtrl">
<div class="bar bar-header bar-dark">
    <h1 class="title">About Jakcodex/Muledump CORS Adapter</h1>
</div>
<div class="has-header">
    <div class="list">
        <div class="item">
            Version {{ version }}
        </div>
        <div class="item">
            <a style="cursor: pointer;" ng-click="openInNewTab('https://github.com/jakcodex/muledump-cors-adapter');">View Project on Github</a>
        </div>
        <div class="item">
            <a style="cursor: pointer;" ng-click="openInNewTab('https://github.com/jakcodex/muledump');">View Jakcodex/Muledump on Github</a>
        </div>
        <div class="item">
            <a style="cursor: pointer; text-decoration: none;" href="ua.html">Usage Analytics</a>
        </div>
        <div class="item">
            <a style="cursor: pointer;" ng-click="openInNewTab('https://jakcodex.github.io/muledump/privacy-policy');">View Privacy Policy</a>
        </div>
        <div class="item">
            <a style="cursor: pointer; text-decoration: none;" href="popup.html">Go Back to Main Menu</a>
        </div>
        <div class="item item-divider">
            &nbsp;
        </div>
    </div>
</div>
</body>
</html>